<h1> Create a new user</h1>
<p>
    <% @user.errors.full_messages.each do |error| %>
       <p><%= error %></p>
    <% end %> 
</p>
<form method='POST' action='/users' accept-charset="UTF-8" >
    <label>Username</label>
    <input type='text' name='user[username]' placeholder='Your username'>

    <label>Email</label>
    <input type='email' name='user[email]' placeholder='Your email'>

    <label>Password</label>
    <input type='password' name='user[password]' >

    <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
    
    <input type='submit' value='Save' >
</form>